In [1]:
import pandas as pd

In [5]:
data=pd.read_csv()

In [16]:
data

,abandon,abc,abc news,abduct,abe,abedin,abl,abort,abroad,absolut,...,zero,zika,zika viru,zionist,zone,zone new,zone new york,zoo,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data=data.drop("Unnamed: 0",axis=1)

In [15]:
data.to_csv("data/data.csv")