In [55]:
import pandas as pd

In [56]:
data=pd.read_csv("data.csv")
data.head()

,Unnamed: 0,abandon,abc,abc news,abduct,abe,abedin,abl,abort,abroad,...,zero,zika,zika viru,zionist,zone,zone new,zone new york,zoo,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
text="flynn hillari clinton big woman campu breitbart"

In [58]:
from nltk.corpus import stopwords 
import re
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
review = re.sub('[^a-zA-Z]', ' ', text)
review = review.lower()
review = review.split()

review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
review = ' '.join(review)
corpus.append(review)

In [59]:
corpus

['flynn hillari clinton big woman campu breitbart']

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()

In [61]:
count_df = pd.DataFrame(X, columns=cv.get_feature_names())
data=data.append(count_df,ignore_index=True)

In [62]:
data.fillna(0,inplace=True)

In [63]:
data=data.astype(int)
data=data.drop("Unnamed: 0",axis=1)

In [92]:
start=data.shape[1]%5000
stop=data.shape[1]

In [93]:
import pickle 
model = pickle.load(open('../train model.pkl', 'rb'))
model.predict(data.iloc[len(data)-1:,start:stop])

array([1], dtype=int64)